src/main/java/by/bsu/booksearchsoap/client/authorWS2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.booksearchsoap.bsu.by/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.booksearchsoap.bsu.by/" name="AuthorServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.booksearchsoap.bsu.by/" schemaLocation="http://localhost:8081/authorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="viewAllAuthors"/>
<message name="viewAllAuthorsResponse">
<part name="return" type="tns:authorArray"/>
</message>
<message name="ServiceException">
<part name="fault" element="tns:ServiceException"/>
</message>
<message name="deleteAuthor">
<part name="arg0" type="xsd:long"/>
</message>
<message name="deleteAuthorResponse"/>
<message name="findAuthorById">
<part name="arg0" type="xsd:long"/>
</message>
<message name="findAuthorByIdResponse">
<part name="return" type="tns:author"/>
</message>
<message name="addAuthor">
<part name="arg0" type="tns:author"/>
</message>
<message name="addAuthorResponse"/>
<message name="updateAuthor">
<part name="arg0" type="tns:author"/>
</message>
<message name="updateAuthorResponse"/>
<portType name="IAuthorService">
<operation name="viewAllAuthors">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/viewAllAuthorsRequest" message="tns:viewAllAuthors"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/viewAllAuthorsResponse" message="tns:viewAllAuthorsResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/viewAllAuthors/Fault/ServiceException"/>
</operation>
<operation name="deleteAuthor">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/deleteAuthorRequest" message="tns:deleteAuthor"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/deleteAuthorResponse" message="tns:deleteAuthorResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/deleteAuthor/Fault/ServiceException"/>
</operation>
<operation name="findAuthorById">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/findAuthorByIdRequest" message="tns:findAuthorById"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/findAuthorByIdResponse" message="tns:findAuthorByIdResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/findAuthorById/Fault/ServiceException"/>
</operation>
<operation name="addAuthor">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/addAuthorRequest" message="tns:addAuthor"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/addAuthorResponse" message="tns:addAuthorResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/addAuthor/Fault/ServiceException"/>
</operation>
<operation name="updateAuthor">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/updateAuthorRequest" message="tns:updateAuthor"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/updateAuthorResponse" message="tns:updateAuthorResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IAuthorService/updateAuthor/Fault/ServiceException"/>
</operation>
</portType>
<binding name="AuthorServiceImplPortBinding" type="tns:IAuthorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="viewAllAuthors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findAuthorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="addAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AuthorServiceImplService">
<port name="AuthorServiceImplPort" binding="tns:AuthorServiceImplPortBinding">
<soap:address location="http://localhost:8081/authorWS"/>
</port>
</service>
</definitions>