src/main/java/by/bsu/booksearchsoap/client/bookWS2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.booksearchsoap.bsu.by/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.booksearchsoap.bsu.by/" name="BookServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.booksearchsoap.bsu.by/" schemaLocation="http://localhost:8081/bookWS?xsd=1"/>
</xsd:schema>
</types>
<message name="viewAllBooks"/>
<message name="viewAllBooksResponse">
<part name="return" type="tns:bookArray"/>
</message>
<message name="ServiceException">
<part name="fault" element="tns:ServiceException"/>
</message>
<message name="deleteBook">
<part name="arg0" type="xsd:long"/>
</message>
<message name="deleteBookResponse"/>
<message name="updateBook">
<part name="arg0" type="tns:bookDTO"/>
</message>
<message name="updateBookResponse"/>
<message name="addBook">
<part name="arg0" type="tns:bookDTO"/>
</message>
<message name="addBookResponse"/>
<message name="findBookById">
<part name="arg0" type="xsd:long"/>
</message>
<message name="findBookByIdResponse">
<part name="return" type="tns:book"/>
</message>
<portType name="IBookService">
<operation name="viewAllBooks">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/viewAllBooksRequest" message="tns:viewAllBooks"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/viewAllBooksResponse" message="tns:viewAllBooksResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/viewAllBooks/Fault/ServiceException"/>
</operation>
<operation name="deleteBook">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/deleteBookRequest" message="tns:deleteBook"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/deleteBookResponse" message="tns:deleteBookResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/deleteBook/Fault/ServiceException"/>
</operation>
<operation name="updateBook">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/updateBookRequest" message="tns:updateBook"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/updateBookResponse" message="tns:updateBookResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/updateBook/Fault/ServiceException"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/addBookResponse" message="tns:addBookResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/addBook/Fault/ServiceException"/>
</operation>
<operation name="findBookById">
<input wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/findBookByIdRequest" message="tns:findBookById"/>
<output wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/findBookByIdResponse" message="tns:findBookByIdResponse"/>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.booksearchsoap.bsu.by/IBookService/findBookById/Fault/ServiceException"/>
</operation>
</portType>
<binding name="BookServiceImplPortBinding" type="tns:IBookService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="viewAllBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findBookById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.booksearchsoap.bsu.by/"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BookServiceImplService">
<port name="BookServiceImplPort" binding="tns:BookServiceImplPortBinding">
<soap:address location="http://localhost:8081/bookWS"/>
</port>
</service>
</definitions>